body {
    color: #001935;
    font-family: main;
    font-size: 2rem;
}

img {
    display: block;
    margin: auto;
    margin-top: 10vh;
    width: 15rem;
}

input {
width: ;
}

@font-face {
    font-family: title;
    src: url(../assets/fonts/RobotoSerif_UltraCondensed-Bold.ttf);
}

@font-face {
    font-family: main;
    src: url(../assets/fonts/ArchivoNarrow-Regular.ttf);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: title;
}

.new-account {
    background-color: #008ACF;
    margin: 3rem;
    padding: 2rem;
    border-radius: 1rem;
}

.signup-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.labels {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.inputs {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    img {
        margin-top: 20vh;
    }
}