body {
    color: #001935;
    font-family: main;
    font-size: 2rem;
}


label{
    margin-bottom: 0px;
}

input {
    height: 2rem;
    width: 50vw;
    margin-bottom: 0px;
}

@font-face {
    font-family: title;
    src: url(../assets/fonts/RobotoSerif_UltraCondensed-Bold.ttf);
}

@font-face {
    font-family: main;
    src: url(../assets/fonts/ArchivoNarrow-Regular.ttf);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: title;
}

.logo{
    display: block;
    margin: auto;
    margin-top: 10vh;
    width: 15rem;
    margin-bottom: 1rem;
}

.new-account {
    background-color: #008ACF;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
}

.signup-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.labels {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.inputs {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.formButton {
    margin-top: 1rem;
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 1rem;
}

.succes {
    color: green;
}

.error {
    color: red;
}

@media (max-width: 600px) {
    input {
        height: 1rem;
    }
    body {
        font-size: 1rem;
    }

    .logo {
        margin-top: 20vh;
    }
}